<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="cuentastorage"
         value="DefaultEndpointsProtocol=https;AccountName=storagetajamarjgd;AccountKey=9x3fjBrVgfMFmBNgu0181/ZpqFUoi343W6I/YV/edpUp1GcEc6RNxIkLac2k5MLfIXm/fFKFlmFw5whrHG4xEA==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>